@page "/center"

@using Dashboard.Data
@inject WeatherForecastService ForecastService
<PageTitle>Customer</PageTitle>
<div class="input-group flex-nowrap">
    <span class="input-group-text" id="addon-wrapping" style="background-color:#F6A2B3"><i class="oi oi-moon" style="color:whitesmoke"></i></span>
    <input type="text" class="form-control" style="border-color:#F6A2B3" placeholder="Search" aria-label="Search" aria-describedby="addon-wrapping">

    <div class="d-grid gap-2 d-md-flex justify-content-md-end " >
        <a class="btn btn-primary me-md-2" href="/Center/addCenter" role="button" style="background-color:#F6A2B3"><i class="oi oi-plus">  Add Center </i></a>
    </div>
    </div>


<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>===</th>
      
        </tr>
    </thead>
    <tbody>
        @foreach (var forecast in forecasts)
        {
            <tr>
                <td>@forecast.Date.ToShortDateString()</td>
                <td>@forecast.TemperatureC</td>
                <td>@forecast.TemperatureF</td>
                <td>
                     <a class="btn btn-primary me-md-2" href="/Center/viewCenter" role="button" style="background-color:#F6A2B3">  View </a>
                @*    <button class="btn btn-info" style="background-color:#F6A2B3;color:white;border-color:#F6A2B3"></button>*@
                    <a class="btn btn-outline-info"role="button"   href="/Center/updateCenter" style="border-block-start-color:#F6A2B3;color:#F6A2B3;border-color:#F6A2B3">Update</a>
                    <a class="btn btn-outline-danger"  @*href="/Center/addCenter"*@   role="button">Delete</a>
                    </td>
            </tr>
        }
    </tbody>
</table>

@code {
     
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateOnly.FromDateTime(DateTime.Now));
    }

}
