@page "/offer/add"
<h3>AddOffer</h3>
<PageTitle>AddOffer</PageTitle>

  <label  class="form-label"> Id</label>
  <input type="number" class="form-control"  placeholder="Offer Id">

    <label class="form-label"> Description</label>
  <input type="text" class="form-control"  placeholder="Offer Description">

     
     <div class="row">
      <div class='col-sm-6'> ServiceId
         <input type='number' style='color:#F6A2B3' class="form-control"  />
      </div>
      <div class='col-sm-6'>Service Name
         <input type='text' style='color:#F6A2B3' class="form-control"  />
      </div>    
   </div>

    <div class="row">
      <div class='col-sm-6'>UserId
         <input type='number' style='color:#F6A2B3' class="form-control" id='datetimepicker4' />
      </div>
      <div class='col-sm-6'>User Name
         <input type='text' style='color:#F6A2B3' class="form-control" id='datetimepicker4' />
      </div>
    
   </div>

@code {
        
}
