@page "/offer/update"
<h3>UpdateOffer</h3>
<PageTitle>UpdateOffer</PageTitle>



  <label  class="form-label"> Id</label>
  <input type="number" class="form-control" value="1"  placeholder="Offer Id" >

    <label class="form-label"> Description</label>
  <input type="text" class="form-control" value="tt" placeholder="Offer Description">

     
     <div class="row">
      <div class='col-sm-6'> ServiceId
         <input type='number' style='color:#F6A2B3' value="1"  class="form-control"  />
      </div>
      <div class='col-sm-6'>Service Name
         <input type='text' style='color:#F6A2B3'   value="tt" class="form-control"  />
      </div>    
   </div>

    <div class="row">
      <div class='col-sm-6'>UserId
         <input type='number' style='color:#F6A2B3' value="1"  class="form-control" id='datetimepicker4' />
      </div>
      <div class='col-sm-6'>User Name
         <input type='text' style='color:#F6A2B3'   value="tt" class="form-control" id='datetimepicker4' />
      </div>
    
   </div>

@code {

}
