@page "/offer/view"
<h3>ViewOffer</h3>
<PageTitle>ViewOffer</PageTitle>

<label  class="form-label"> Id</label>
  <input type="number" class="form-control"  placeholder="Offer Id" readonly>

    <label class="form-label"> Description</label>
  <input type="text" class="form-control"  placeholder="Offer Description" readonly>

     
     <div class="row">
      <div class='col-sm-6'> ServiceId
         <input type='number' style='color:#F6A2B3' class="form-control"  readonly/>
      </div>
      <div class='col-sm-6'>Service Name
         <input type='text' style='color:#F6A2B3' class="form-control" readonly />
      </div>    
   </div>

    <div class="row">
      <div class='col-sm-6'>UserId
         <input type='number' style='color:#F6A2B3' class="form-control" id='datetimepicker4' readonly/>
      </div>
      <div class='col-sm-6'>User Name
         <input type='text' style='color:#F6A2B3' class="form-control" id='datetimepicker4'readonly/>
      </div>
    
   </div>

<br />

<div>
    <a class="btn btn-primary me-md-2" role="button" href="/offer/update" style="background-color:#F6A2B3">
        <i class="oi oi-pencil"> </i> Update
    </a>
    <a class="btn btn-outline-danger me-md-2" href="/offer" role="button"><i class="oi oi-trash">  delete  </i></a>
</div>

@code {

}
