@page "/user/add"
<h3>AddUser</h3>
<PageTitle>AddUser</PageTitle>
<div class="row">
    <div class='col-sm-6'>
        Id
        <input type='text' style='border-color:#F6A2B3' class="form-control" id='datetimepicker4'  placeholder="Employee Id"  />
    </div>
    <div class='col-sm-6'>
        CenterId
        <input type='text' style='border-color:#F6A2B3' class="form-control" id='datetimepicker4'  placeholder=" Employee CenterId"  />
    </div>
</div>
<div class="row">
    <div class='col-sm-6'>
        FirstName
        <input type='text' style='border-color:#F6A2B3' class="form-control" id='datetimepicker4'  placeholder="Employee FirstName"  />
    </div>
    <div class='col-sm-6'>
        LastName
        <input type='text' style='border-color:#F6A2B3' class="form-control" id='datetimepicker4'  placeholder="Employee LastName"  />
    </div>
</div>
<div class="row">
    <div class='col-sm-6'>
        GalleryId
        <input type='text' style='border-color:#F6A2B3' class="form-control" id='datetimepicker4'  placeholder="Employee GalleryId"  />
    </div>
    <div class='col-sm-6'>
        Points
        <input type='text' style='border-color:#F6A2B3' class="form-control" id='datetimepicker4'  placeholder=" Employee Points"  />
    </div>
    <label class="form-label"> image </label>
    <input type="text" class="img-fluid" style='border-color:#F6A2B3' placeholder="Service details">
</div>
@code {

}
