@page "/user/view"

<PageTitle>ViewUser</PageTitle>

    <h3>ViewUser</h3> 
   

<div class="row">
    <div class='col-sm-6'>
        Id
        <input type='text' style='border-color:#F6A2B3' class="form-control" id='datetimepicker4' value="1" placeholder="Employee Id" readonly />
    </div>
    <div class='col-sm-6'>
        CenterId
        <input type='text' style='border-color:#F6A2B3' class="form-control" id='datetimepicker4' value="2" placeholder=" Employee CenterId" readonly />
    </div>
</div>
<div class="row">
    <div class='col-sm-6'>
        FirstName
        <input type='text' style='border-color:#F6A2B3' class="form-control" id='datetimepicker4' value="FirstName" placeholder="Employee FirstName" readonly />
    </div>
    <div class='col-sm-6'>
        LastName
        <input type='text' style='border-color:#F6A2B3' class="form-control" id='datetimepicker4' value="LastName" placeholder="Employee LastName" readonly />
    </div>
</div>
<div class="row">
    <div class='col-sm-6'>
        GalleryId
        <input type='text' style='border-color:#F6A2B3' class="form-control" id='datetimepicker4' value="1" placeholder="Employee GalleryId" readonly />
    </div>
    <div class='col-sm-6'>
        Points
        <input type='number' style='border-color:#F6A2B3' class="form-control" id='datetimepicker4' value="1" placeholder=" Employee Points" readonly />
    </div>
    <label class="form-label"> image </label>
    <input type="text" class="img-fluid" style='border-color:#F6A2B3'  placeholder="Service details" readonly>
</div>

<br />

   <div>
<a class="btn btn-primary me-md-2" role="button" href="/user/update" style="background-color:#F6A2B3">
        <i class="oi oi-pencil"> </i> Update</a>
<a class="btn btn-danger me-md-2" href="/user" role="button"><i class="oi oi-trash">  delete  </i></a>
</div>

@code {


}