@page "/employee/add"
<h3>AddEmployee</h3>
<PageTitle>AddEmployee</PageTitle>

<div class="row">
    <div class='col-sm-6'>
        Id
        <input type='text' style='border-color:#F6A2B3' class="form-control" id='datetimepicker4' placeholder="Employee Id" />
    </div>
    <div class='col-sm-6'>
        CenterId
        <input type='text' style='border-color:#F6A2B3' class="form-control" id='datetimepicker4' placeholder=" Employee CenterId" />
    </div>
</div>
<div class="row">
    <div class='col-sm-6'>
        FirstName
        <input type='text' style='border-color:#F6A2B3' class="form-control" id='datetimepicker4' placeholder="Employee FirstName" />
    </div>
    <div class='col-sm-6'>
        LastName
        <input type='text' style='border-color:#F6A2B3' class="form-control" id='datetimepicker4' placeholder="Employee LastName" />
    </div>
</div>
<div class="row">
    <div class='col-sm-6'>
        Rate
        <input type='text' style='border-color:#F6A2B3' class="form-control" id='datetimepicker4' placeholder="Employee Rate" />
    </div>
    <div class='col-sm-6'>
        Points
        <input type='text' style='border-color:#F6A2B3' class="form-control" id='datetimepicker4' placeholder=" Employee Points" />
    </div>
    </div>

<label class="form-label"> Exp</label>
<input type='text' style='border-color:#F6A2B3' class="form-control" id='datetimepicker4' placeholder="Employee Exp" />


@code {
  
  
}

