@page "/employee/update"
<h3>UpdateEmployee</h3>
<PageTitle>UpdateEmployee</PageTitle>
<div class="row">
    <div class='col-sm-6'>
        Id
        <input type='text' style='border-color:#F6A2B3' class="form-control" id='datetimepicker4' value="1" placeholder="Employee Id" />
    </div>
    <div class='col-sm-6'>
        CenterId
        <input type='text' style='border-color:#F6A2B3' class="form-control" id='datetimepicker4' value="2" placeholder=" Employee CenterId" />
    </div>
</div>
<div class="row">
    <div class='col-sm-6'>
        FirstName
        <input type='text' style='border-color:#F6A2B3' class="form-control" id='datetimepicker4' value="FirstName" placeholder="Employee FirstName" />
    </div>
    <div class='col-sm-6'>
        LastName
        <input type='text' style='border-color:#F6A2B3' class="form-control" id='datetimepicker4' value="LastName" placeholder="Employee LastName" />
    </div>
</div>
<div class="row">
    <div class='col-sm-6'>
        Rate
        <input type='text' style='border-color:#F6A2B3' class="form-control" id='datetimepicker4' value="1" placeholder="Employee Rate" />
    </div>
    <div class='col-sm-6'>
        Points
        <input type='text' style='border-color:#F6A2B3' class="form-control" id='datetimepicker4' value="1"  placeholder=" Employee Points" />
    </div>
</div>

<label class="form-label"> Exp</label>
<input type='text' style='border-color:#F6A2B3' class="form-control" id='datetimepicker4' value="Exp" placeholder="Employee Exp" />

@code{

}