@page "/Appointment/add"
<PageTitle>AddAppointment</PageTitle>
<h3>AddAppointment</h3>
<div class="container">

  <label  class="form-label"> Id</label>
  <input type="number" class="form-control"  placeholder="Appointment Id">

    <label class="form-label"> Status</label>
  <input type="text" class="form-control"  placeholder="Appointment Status">

   <label class="form-label"> User Name</label>
  <input type="text" class="form-control"  placeholder="Appointment User Name">

      <div class='col-sm-6'> DateTime
         <input type='time' style='color:#F6A2B3' class="form-control"  />
      </div>
     
     <div class="row">
      <div class='col-sm-6'> ServiceId
         <input type='number' style='color:#F6A2B3' class="form-control"  />
      </div>
      <div class='col-sm-6'>Service Name
         <input type='text' style='color:#F6A2B3' class="form-control"  />
      </div>    
   </div>

    <div class="row">
      <div class='col-sm-6'> EmployeeId
         <input type='number' style='color:#F6A2B3' class="form-control" id='datetimepicker4' />
      </div>
      <div class='col-sm-6'>Employee Name
         <input type='text' style='color:#F6A2B3' class="form-control" id='datetimepicker4' />
      </div>
    
   </div>
</div>
@* Update
    <form class="row g-3">
  <div class="col-md-4">
    <label for="validationServer01" class="form-label">First name</label>
    <input type="text" class="form-control is-valid" id="validationServer01" value="Mark" required>
    <div class="valid-feedback">
       good!
    </div>
  </div>*@

@code {
 
}
