@page "/Appointment/view"
<PageTitle>ViewAppointment</PageTitle>
<h3>ViewCenter</h3>
<label  class="form-label"> Id </label>
    <input class="form-control" type="text" value="Readonly input here..." aria-label="1" readonly>
    <label  class="form-label"> name </label>
    <input class="form-control" type="text" value="Readonly input here..." aria-label="1" readonly>
    <label  class="form-label"> Id </label>
    <input class="form-control" type="text" value="Readonly input here..." aria-label="1" readonly>
@code {

}
