@page "/Appointment/view"
<PageTitle>ViewAppointment</PageTitle>
<h3>ViewCenter</h3>
<label  class="form-label"> Id </label>
    <input class="form-control" type="text" value="Readonly input here..." aria-label="1" readonly>
    <label  class="form-label"> name </label>
    <input class="form-control" type="text" value="Readonly input here..." aria-label="1" readonly>
    <label  class="form-label"> Id </label>
    <input class="form-control" type="text" value="Readonly input here..." aria-label="1" readonly>


<br />

<div>
    <a class="btn btn-primary me-md-2" role="button" href="/Appointment/update" style="background-color:#F6A2B3">
        <i class="oi oi-pencil"> </i> Update
    </a>
    <a class="btn btn-danger me-md-2" href="/Appointment" role="button"><i class="oi oi-trash">  delete  </i></a>
</div>
@code {

}
