
<div class="top-row ps-3 navbar navbar-dark" style="background-color:#F6A2B3;">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BeautyCenter</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column" style="background-color:#F6A2B3;">

       

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Mona
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
     
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="center">
                <span class="oi oi-list-rich" aria-hidden="true"></span>  Center
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="appointment">
                <span class="oi oi-calendar" aria-hidden="true"></span> Appointment
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="services">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Services
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="offer">
                <span class="oi oi-flash" aria-hidden="true"></span> Offer
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="employee">
                <span class="oi oi-people" aria-hidden="true"></span> Employee
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="user">
                <span class="oi oi-person" aria-hidden="true"></span> User
            </NavLink>

        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="notification">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Notification
            </NavLink>
        </div>
     
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="customer">
              <span class="oi oi-people" aria-hidden="true"></span> Customer
            </NavLink>
        </div>
   
     </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
